{
  "openapi": "3.1.0",
  "info": {
    "title": "Arisk API",
    "description": "API for Arisk - On-chain Transaction Risk Analysis Platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.arisk.com/v1",
      "description": "Production Server"
    },
    {
      "url": "https://api-sandbox.arisk.com/v1",
      "description": "Sandbox Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/analyze/address": {
      "post": {
        "summary": "Analyze Address",
        "description": "Analyze the risk level of a single blockchain address.",
        "operationId": "analyzeAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzeAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/analyze/batch": {
      "post": {
        "summary": "Batch Analyze",
        "description": "Analyze multiple blockchain addresses in a single request (max 100).",
        "operationId": "batchAnalyze",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAnalyzeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful batch analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/monitor/create": {
      "post": {
        "summary": "Create Monitor",
        "description": "Create a real-time monitor for an address.",
        "operationId": "createMonitor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMonitorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monitor/{monitor_id}": {
      "delete": {
        "summary": "Delete Monitor",
        "description": "Stop monitoring an address.",
        "operationId": "deleteMonitor",
        "parameters": [
          {
            "name": "monitor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the monitor to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "monitor_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "example": "deleted"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Monitor not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "AnalyzeAddressRequest": {
        "type": "object",
        "required": [
          "address",
          "chain"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "The blockchain address to analyze"
          },
          "chain": {
            "type": "string",
            "enum": [
              "ethereum",
              "bitcoin",
              "bsc",
              "polygon",
              "tron",
              "solana"
            ],
            "description": "The blockchain network"
          },
          "options": {
            "type": "object",
            "properties": {
              "include_labels": {
                "type": "boolean",
                "default": true
              },
              "include_risk_factors": {
                "type": "boolean",
                "default": true
              }
            }
          }
        }
      },
      "AnalyzeAddressResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "chain": {
                "type": "string"
              },
              "risk_score": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "risk_level": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high",
                  "critical"
                ]
              },
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BatchAnalyzeRequest": {
        "type": "object",
        "required": [
          "addresses",
          "chain"
        ],
        "properties": {
          "addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "description": "List of addresses to analyze"
          },
          "chain": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "properties": {
              "parallel": {
                "type": "boolean",
                "default": true
              }
            }
          }
        }
      },
      "BatchAnalyzeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "risk_score": {
                      "type": "integer"
                    },
                    "risk_level": {
                      "type": "string"
                    }
                  }
                }
              },
              "summary": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer"
                  },
                  "high_risk": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "CreateMonitorRequest": {
        "type": "object",
        "required": [
          "address",
          "chain",
          "webhook_url"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "MonitorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "monitor_id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}