{
  "openapi": "3.0.1",
  "info": {
    "title": "預設模組",
    "description": "",
    "version": "1.0.0"
  },
  "components": {
    "schemas": {
      "open_V1_MonitorOpenV1MonitorAddressAddBody": {
        "type": "object",
        "required": [
          "address",
          "chain",
          "token"
        ],
        "properties": {
          "address": {
            "description": "地址",
            "type": "string",
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          "chain": {
            "description": "鏈標識",
            "type": "string",
            "example": "ethereum",
            "enum": [
              "tron",
              "bsc",
              "ethereum"
            ]
          },
          "token": {
            "description": "代幣符號",
            "type": "string",
            "example": "usdt",
            "enum": [
              "usdt"
            ]
          }
        }
      }
    },
    "responses": {},
    "securitySchemes": {
      "apikey-header-X-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "servers": [
    {
      "url": "https://api.arisk.io"
    }
  ],
  "security": [
    {
      "apikey-header-X-API-Key": []
    }
  ],
  "tags": [],
  "paths": {
    "/v1/monitor/address/add": {
      "post": {
        "summary": "新增監控地址",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorAddressAdd",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/open_V1_MonitorOpenV1MonitorAddressAddBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "地址 ID（UUID）",
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/monitor/address/list": {
      "get": {
        "summary": "監控地址列表",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorAddressList",
        "tags": [],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "狀態過濾，-1 表示不過濾",
            "required": true,
            "schema": {
              "type": "integer",
              "default": -1
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "鏈過濾",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ethereum"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "代幣過濾",
            "required": false,
            "schema": {
              "type": "string",
              "example": "usdt"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "頁碼",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每頁數量",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "description": "地址列表",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "description": "地址",
                            "type": "string",
                            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                          },
                          "chain": {
                            "description": "鏈標識",
                            "type": "string",
                            "example": "ethereum",
                            "enum": [
                              "tron",
                              "bsc",
                              "ethereum"
                            ]
                          },
                          "created_at": {
                            "description": "建立時間",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          },
                          "id": {
                            "description": "地址 ID",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "status": {
                            "description": "狀態",
                            "type": "integer",
                            "example": 1
                          },
                          "token": {
                            "description": "代幣符號",
                            "type": "string",
                            "example": "usdt",
                            "enum": [
                              "usdt"
                            ]
                          },
                          "updated_at": {
                            "description": "更新時間",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          }
                        }
                      }
                    },
                    "page": {
                      "description": "當前頁",
                      "type": "integer",
                      "example": 1
                    },
                    "page_size": {
                      "description": "每頁大小",
                      "type": "integer",
                      "example": 20
                    },
                    "total": {
                      "description": "總數",
                      "type": "integer",
                      "example": 100
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/monitor/address/remove": {
      "post": {
        "summary": "刪除監控地址",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorAddressRemove",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/open_V1_MonitorOpenV1MonitorAddressAddBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "地址 ID",
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/monitor/address/status/update": {
      "post": {
        "summary": "更新監控地址狀態",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorAddressStatusUpdate",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address",
                  "chain",
                  "token",
                  "status"
                ],
                "properties": {
                  "address": {
                    "description": "地址",
                    "type": "string",
                    "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  },
                  "chain": {
                    "description": "鏈標識",
                    "type": "string",
                    "example": "ethereum",
                    "enum": [
                      "tron",
                      "bsc",
                      "ethereum"
                    ]
                  },
                  "status": {
                    "description": "狀態: 0=禁用,1=啟用",
                    "type": "integer",
                    "example": 1
                  },
                  "token": {
                    "description": "代幣符號",
                    "type": "string",
                    "example": "usdt",
                    "enum": [
                      "usdt"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "地址 ID",
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/monitor/alerts": {
      "get": {
        "summary": "告警列表",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorAlerts",
        "tags": [],
        "parameters": [
          {
            "name": "monitor_type",
            "in": "query",
            "description": "事件型別過濾: normal_transaction/known_risk/risk_change",
            "required": false,
            "schema": {
              "type": "string",
              "example": "normal_transaction"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "頁碼",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每頁數量",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alerts": {
                      "description": "告警列表",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "description": "交易金額",
                            "type": "string",
                            "example": "1"
                          },
                          "chain": {
                            "description": "鏈標識",
                            "type": "string",
                            "example": "ethereum",
                            "enum": [
                              "tron",
                              "bsc",
                              "ethereum"
                            ]
                          },
                          "counterparty_address": {
                            "description": "對手方地址",
                            "type": "string",
                            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                          },
                          "created_at": {
                            "description": "建立時間",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          },
                          "details": {
                            "description": "詳情 JSON",
                            "type": "string",
                            "example": "{}"
                          },
                          "id": {
                            "description": "告警 ID",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "monitor_type": {
                            "description": "告警型別",
                            "type": "string",
                            "example": "normal_transaction"
                          },
                          "monitoring_address": {
                            "description": "監控地址",
                            "type": "string",
                            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                          },
                          "monitoring_address_id": {
                            "description": "監控地址 ID",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "token": {
                            "description": "代幣符號",
                            "type": "string",
                            "example": "usdt",
                            "enum": [
                              "usdt"
                            ]
                          },
                          "tx_hash": {
                            "description": "交易雜湊",
                            "type": "string",
                            "example": "0x7b6134b17df88579d1a388b39417855b7662c1450207e4c6c06b744f47ddc5c4"
                          },
                          "user_id": {
                            "description": "使用者 ID（無資料則為空）",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          }
                        },
                        "example": {
                          "id": "550e8400-e29b-41d4-a716-446655440000",
                          "user_id": "550e8400-e29b-41d4-a716-446655440000",
                          "monitoring_address_id": "550e8400-e29b-41d4-a716-446655440000",
                          "monitoring_address": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                          "counterparty_address": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                          "chain": "ethereum",
                          "token": "usdt",
                          "amount": "1",
                          "tx_hash": "0x7b6134b17df88579d1a388b39417855b7662c1450207e4c6c06b744f47ddc5c4",
                          "monitor_type": "normal_transaction",
                          "details": "{}",
                          "created_at": "2023-10-27T10:00:00Z"
                        }
                      }
                    },
                    "page": {
                      "description": "當前頁",
                      "type": "integer",
                      "example": 1
                    },
                    "page_size": {
                      "description": "每頁大小",
                      "type": "integer",
                      "example": 20
                    },
                    "total": {
                      "description": "總數",
                      "type": "string",
                      "example": "100"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/monitor/config/default": {
      "get": {
        "summary": "查詢預設監控配置",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorConfigGet",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "description": "當前配置",
                      "type": "object",
                      "properties": {
                        "detection": {
                          "description": "監控檢測配置",
                          "type": "object",
                          "properties": {
                            "known_risk": {
                              "description": "是否訂閱風險交易",
                              "type": "boolean",
                              "example": true
                            },
                            "normal_transaction": {
                              "description": "是否訂閱轉入/轉出",
                              "type": "boolean",
                              "example": true
                            },
                            "risk_change": {
                              "description": "是否訂閱風險變動",
                              "type": "boolean",
                              "example": true
                            }
                          }
                        },
                        "notification": {
                          "description": "通知配置",
                          "type": "object",
                          "properties": {
                            "email": {
                              "description": "郵件配置",
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "description": "是否啟用",
                                  "type": "boolean",
                                  "example": true
                                },
                                "recipients": {
                                  "description": "收件人列表（僅儲存首個）",
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "user@example.com"
                                  }
                                }
                              }
                            },
                            "webhook": {
                              "description": "Webhook 配置",
                              "type": "object",
                              "properties": {
                                "auth_key": {
                                  "description": "鑑權 Key（相容欄位）",
                                  "type": "string",
                                  "example": "ak_058e909ee5caa839da02c421142e2b0d90f917953bece13f4166a204669f5eb6"
                                },
                                "enabled": {
                                  "description": "是否啟用",
                                  "type": "boolean",
                                  "example": true
                                },
                                "urls": {
                                  "description": "Webhook 地址列表（僅儲存首個）",
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "https://example.com/webhook"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      },
      "post": {
        "summary": "設定預設監控配置",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorConfigSet",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "config"
                ],
                "properties": {
                  "config": {
                    "description": "要更新的配置",
                    "type": "object",
                    "required": [
                      "detection",
                      "notification"
                    ],
                    "properties": {
                      "detection": {
                        "description": "監控檢測配置",
                        "type": "object",
                        "properties": {
                          "known_risk": {
                            "description": "是否訂閱風險交易",
                            "type": "boolean",
                            "example": true
                          },
                          "normal_transaction": {
                            "description": "是否訂閱轉入/轉出",
                            "type": "boolean",
                            "example": true
                          },
                          "risk_change": {
                            "description": "是否訂閱風險變動",
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "notification": {
                        "description": "通知配置",
                        "type": "object",
                        "required": [
                          "webhook",
                          "email"
                        ],
                        "properties": {
                          "email": {
                            "description": "郵件配置",
                            "type": "object",
                            "required": [
                              "enabled",
                              "recipients"
                            ],
                            "properties": {
                              "enabled": {
                                "description": "是否啟用",
                                "type": "boolean",
                                "example": true
                              },
                              "recipients": {
                                "description": "收件人列表（僅儲存首個）",
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "user@example.com"
                                }
                              }
                            }
                          },
                          "webhook": {
                            "description": "Webhook 配置",
                            "type": "object",
                            "required": [
                              "enabled",
                              "urls",
                              "auth_key"
                            ],
                            "properties": {
                              "auth_key": {
                                "description": "鑑權 Key（相容欄位）",
                                "type": "string",
                                "example": "ak_058e909ee5caa839da02c421142e2b0d90f917953bece13f4166a204669f5eb6"
                              },
                              "enabled": {
                                "description": "是否啟用",
                                "type": "boolean",
                                "example": true
                              },
                              "urls": {
                                "description": "Webhook 地址列表（僅儲存首個）",
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "https://example.com/webhook"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "description": "更新後的配置",
                      "type": "object",
                      "properties": {
                        "detection": {
                          "description": "監控檢測配置",
                          "type": "object",
                          "properties": {
                            "known_risk": {
                              "description": "是否訂閱風險交易",
                              "type": "boolean",
                              "example": true
                            },
                            "normal_transaction": {
                              "description": "是否訂閱轉入/轉出",
                              "type": "boolean",
                              "example": true
                            },
                            "risk_change": {
                              "description": "是否訂閱風險變動",
                              "type": "boolean",
                              "example": true
                            }
                          }
                        },
                        "notification": {
                          "description": "通知配置",
                          "type": "object",
                          "properties": {
                            "email": {
                              "description": "郵件配置",
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "description": "是否啟用",
                                  "type": "boolean",
                                  "example": true
                                },
                                "recipients": {
                                  "description": "收件人列表（僅儲存首個）",
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "user@example.com"
                                  }
                                }
                              }
                            },
                            "webhook": {
                              "description": "Webhook 配置",
                              "type": "object",
                              "properties": {
                                "auth_key": {
                                  "description": "鑑權 Key（相容欄位）",
                                  "type": "string",
                                  "example": "ak_058e909ee5caa839da02c421142e2b0d90f917953bece13f4166a204669f5eb6"
                                },
                                "enabled": {
                                  "description": "是否啟用",
                                  "type": "boolean",
                                  "example": true
                                },
                                "urls": {
                                  "description": "Webhook 地址列表（僅儲存首個）",
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "https://example.com/webhook"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/monitor/config/update": {
      "post": {
        "summary": "更新監控配置",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1MonitorConfigUpdate",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "description": "監控地址 ID（相容欄位）",
                    "type": "string",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "監控地址 ID",
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/monitor/risk-change-alerts": {
      "get": {
        "summary": "風險變動告警",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/MonitorOpenV1RiskChangeAlerts",
        "tags": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "頁碼",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每頁數量",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alerts": {
                      "description": "告警列表",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "description": "鏈標識",
                            "type": "string",
                            "example": "ethereum",
                            "enum": [
                              "tron",
                              "bsc",
                              "ethereum"
                            ]
                          },
                          "created_at": {
                            "description": "建立時間",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          },
                          "id": {
                            "description": "告警 ID",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "monitoring_address": {
                            "description": "監控地址",
                            "type": "string",
                            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                          },
                          "monitoring_address_id": {
                            "description": "監控地址 ID",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "risk_level": {
                            "description": "風險等級",
                            "type": "integer",
                            "example": 2
                          },
                          "risk_types": {
                            "description": "風險型別",
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "phishing"
                            }
                          },
                          "token": {
                            "description": "代幣符號",
                            "type": "string",
                            "example": "usdt",
                            "enum": [
                              "usdt"
                            ]
                          }
                        }
                      }
                    },
                    "page": {
                      "description": "當前頁",
                      "type": "integer",
                      "example": 1
                    },
                    "page_size": {
                      "description": "每頁大小",
                      "type": "integer",
                      "example": 20
                    },
                    "total": {
                      "description": "總數",
                      "type": "string",
                      "example": "100"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/query/create": {
      "post": {
        "summary": "建立查詢任務",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/QueryOpenV1QueryCreate",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chain",
                  "token",
                  "address"
                ],
                "properties": {
                  "address": {
                    "description": "查詢地址",
                    "type": "string",
                    "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  },
                  "chain": {
                    "description": "鏈標識",
                    "type": "string",
                    "example": "ethereum",
                    "enum": [
                      "tron",
                      "bsc",
                      "ethereum"
                    ]
                  },
                  "end_at": {
                    "description": "截止時間（Unix 秒，可選）",
                    "type": "integer",
                    "example": 1698400800
                  },
                  "limit": {
                    "description": "交易條數限制（可選，0 表示不限制）",
                    "type": "integer",
                    "example": 100
                  },
                  "start_at": {
                    "description": "起始時間（Unix 秒，可選）",
                    "type": "integer",
                    "example": 1698314400
                  },
                  "token": {
                    "description": "代幣符號",
                    "type": "string",
                    "example": "usdt",
                    "enum": [
                      "usdt"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query_hash": {
                      "description": "任務唯一標識",
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/query/histories": {
      "get": {
        "summary": "查詢歷史記錄",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/QueryOpenV1QueryHistories",
        "tags": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "頁碼",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每頁數量",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "地址過濾（可選）",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query_histories": {
                      "description": "歷史記錄",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "description": "地址",
                            "type": "string",
                            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                          },
                          "api_key_id": {
                            "description": "API Key ID",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "chain": {
                            "description": "鏈標識",
                            "type": "string",
                            "example": "ethereum",
                            "enum": [
                              "tron",
                              "bsc",
                              "ethereum"
                            ]
                          },
                          "cost_quota": {
                            "description": "消耗額度（相容欄位，無資料則為 0）",
                            "type": "integer",
                            "example": 10
                          },
                          "created_at": {
                            "description": "建立時間(RFC3339)",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          },
                          "end_time": {
                            "description": "截止時間(RFC3339)",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          },
                          "id": {
                            "description": "任務 ID（相容 UUID）",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "query_hash": {
                            "description": "查詢雜湊",
                            "type": "string",
                            "example": "550e8400-e29b-41d4-a716-446655440000"
                          },
                          "risk_level": {
                            "description": "風險等級",
                            "type": "integer",
                            "example": 2
                          },
                          "start_time": {
                            "description": "起始時間(RFC3339)",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          },
                          "status": {
                            "description": "狀態",
                            "type": "integer",
                            "example": 1
                          },
                          "token": {
                            "description": "代幣符號",
                            "type": "string",
                            "example": "usdt",
                            "enum": [
                              "usdt"
                            ]
                          },
                          "updated_at": {
                            "description": "更新時間(RFC3339)",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          }
                        }
                      }
                    },
                    "total_count": {
                      "description": "總數",
                      "type": "integer",
                      "example": 100
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/query/result": {
      "get": {
        "summary": "獲取查詢結果",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/QueryOpenV1QueryResult",
        "tags": [],
        "parameters": [
          {
            "name": "query_hash",
            "in": "query",
            "description": "查詢雜湊（任務 ID）",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "description": "查詢地址",
                      "type": "string",
                      "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    },
                    "chain": {
                      "description": "鏈標識",
                      "type": "string",
                      "example": "ethereum",
                      "enum": [
                        "tron",
                        "bsc",
                        "ethereum"
                      ]
                    },
                    "created_at": {
                      "description": "建立時間",
                      "type": "string",
                      "example": "2023-10-27T10:00:00Z"
                    },
                    "end_time": {
                      "description": "結束時間",
                      "type": "string",
                      "example": "2023-10-27T10:00:00Z"
                    },
                    "habit": {
                      "description": "交易習慣",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hour": {
                            "description": "小時(0-23)",
                            "type": "string",
                            "example": "12"
                          },
                          "inflow_amount": {
                            "description": "流入金額",
                            "type": "string",
                            "example": "100.00"
                          },
                          "inflow_count": {
                            "description": "流入筆數",
                            "type": "integer",
                            "example": 10
                          },
                          "outflow_amount": {
                            "description": "流出金額",
                            "type": "string",
                            "example": "50.00"
                          },
                          "outflow_count": {
                            "description": "流出筆數",
                            "type": "integer",
                            "example": 5
                          }
                        }
                      }
                    },
                    "historical_balance": {
                      "description": "歷史餘額",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "balance": {
                            "description": "餘額",
                            "type": "string",
                            "example": "1234.56"
                          },
                          "date": {
                            "description": "日期",
                            "type": "string",
                            "example": "2023-10-27"
                          }
                        }
                      }
                    },
                    "overview": {
                      "description": "地址概覽",
                      "type": "object",
                      "properties": {
                        "active": {
                          "description": "是否活躍",
                          "type": "boolean",
                          "example": true
                        },
                        "address": {
                          "description": "地址",
                          "type": "string",
                          "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                        },
                        "balance": {
                          "description": "餘額",
                          "type": "string",
                          "example": "1000.00"
                        },
                        "balance_coin": {
                          "description": "幣種",
                          "type": "string",
                          "example": "ETH"
                        },
                        "exchange_name": {
                          "description": "交易所名稱",
                          "type": "string",
                          "example": "Binance"
                        },
                        "first_transfer_address": {
                          "description": "首次轉賬對手",
                          "type": "string",
                          "example": "0x..."
                        },
                        "first_transfer_time": {
                          "description": "首次轉賬時間",
                          "type": "string",
                          "example": "2023-01-01T00:00:00Z"
                        },
                        "in_info": {
                          "description": "流入資訊",
                          "type": "object",
                          "properties": {
                            "amount": {
                              "description": "金額",
                              "type": "string",
                              "example": "5000.00"
                            },
                            "count": {
                              "description": "交易筆數",
                              "type": "integer",
                              "example": 50
                            },
                            "latest": {
                              "description": "最近交易時間(RFC3339)",
                              "type": "string",
                              "example": "2023-10-27T10:00:00Z"
                            }
                          }
                        },
                        "is_frozen": {
                          "description": "是否凍結（暫無資料時為 false）",
                          "type": "boolean",
                          "example": false
                        },
                        "out_info": {
                          "description": "流出資訊",
                          "type": "object",
                          "properties": {
                            "amount": {
                              "description": "金額",
                              "type": "string",
                              "example": "200.00"
                            },
                            "count": {
                              "description": "交易筆數",
                              "type": "integer",
                              "example": 20
                            },
                            "latest": {
                              "description": "最近交易時間(RFC3339)",
                              "type": "string",
                              "example": "2023-10-27T10:00:00Z"
                            }
                          }
                        },
                        "total_info": {
                          "description": "彙總資訊",
                          "type": "object",
                          "properties": {
                            "amount": {
                              "description": "金額",
                              "type": "string",
                              "example": "1000.00"
                            },
                            "count": {
                              "description": "交易筆數",
                              "type": "integer",
                              "example": 20
                            },
                            "latest": {
                              "description": "最近交易時間(RFC3339)",
                              "type": "string",
                              "example": "2023-10-27T10:00:00Z"
                            }
                          }
                        },
                        "type": {
                          "description": "地址型別",
                          "type": "integer",
                          "example": 1
                        }
                      }
                    },
                    "query_hash": {
                      "description": "查詢雜湊",
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "risk_address_total": {
                      "description": "風險地址統計",
                      "type": "object",
                      "properties": {
                        "address_count": {
                          "description": "風險地址數",
                          "type": "integer",
                          "example": 5
                        },
                        "amount": {
                          "description": "總金額",
                          "type": "string",
                          "example": "100.00"
                        },
                        "amount_count": {
                          "description": "涉及交易筆數",
                          "type": "integer",
                          "example": 10
                        }
                      }
                    },
                    "risk_level": {
                      "description": "風險等級",
                      "type": "integer",
                      "example": 3
                    },
                    "risk_type": {
                      "description": "風險型別列表",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "description": "涉及金額",
                            "type": "string",
                            "example": "50.00"
                          },
                          "count": {
                            "description": "涉及筆數",
                            "type": "integer",
                            "example": 2
                          },
                          "type": {
                            "description": "風險型別",
                            "type": "string",
                            "example": "phishing"
                          }
                        }
                      }
                    },
                    "start_time": {
                      "description": "起始時間",
                      "type": "string",
                      "example": "2023-10-27T10:00:00Z"
                    },
                    "token": {
                      "description": "代幣符號",
                      "type": "string",
                      "example": "usdt",
                      "enum": [
                        "usdt"
                      ]
                    },
                    "top_transaction": {
                      "description": "主要交易對手",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "counterparty_address": {
                            "description": "對手方地址",
                            "type": "string",
                            "example": "0x..."
                          },
                          "last_transaction_time": {
                            "description": "最近交易時間",
                            "type": "string",
                            "example": "2023-10-27T10:00:00Z"
                          },
                          "own_address": {
                            "description": "本地址",
                            "type": "string",
                            "example": "0x..."
                          },
                          "total_amount": {
                            "description": "累計金額",
                            "type": "string",
                            "example": "1000.00"
                          },
                          "total_count": {
                            "description": "累計筆數",
                            "type": "integer",
                            "example": 20
                          }
                        }
                      }
                    },
                    "tx_flow": {
                      "description": "資金流向",
                      "type": "object",
                      "properties": {
                        "links": {
                          "description": "邊",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "description": "源節點",
                                "type": "string",
                                "example": "node1"
                              },
                              "target": {
                                "description": "目標節點",
                                "type": "string",
                                "example": "node2"
                              },
                              "value": {
                                "description": "金額",
                                "type": "string",
                                "example": "100.00"
                              }
                            }
                          }
                        },
                        "nodes": {
                          "description": "節點",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "節點 ID",
                                "type": "string",
                                "example": "node1"
                              },
                              "label": {
                                "description": "標籤",
                                "type": "string",
                                "example": "Label1"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/v1/query/status": {
      "get": {
        "summary": "查詢任務狀態",
        "deprecated": false,
        "description": "",
        "operationId": "open/V1/QueryOpenV1QueryStatus",
        "tags": [],
        "parameters": [
          {
            "name": "query_hash",
            "in": "query",
            "description": "查詢雜湊（任務 ID）",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "description": "建立時間",
                      "type": "string",
                      "example": "2023-10-27T10:00:00Z"
                    },
                    "message": {
                      "description": "說明資訊",
                      "type": "string",
                      "example": "Success"
                    },
                    "query_hash": {
                      "description": "查詢雜湊",
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "status": {
                      "description": "狀態",
                      "type": "integer",
                      "example": 1
                    },
                    "status_text": {
                      "description": "狀態文字",
                      "type": "string",
                      "example": "Completed"
                    },
                    "updated_at": {
                      "description": "更新時間",
                      "type": "string",
                      "example": "2023-10-27T10:00:00Z"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    }
  }
}